<!-- 아코디언 -->
<section id="accordion" class="accordion" style="display: none;">
    <div class="collapse" id="01">
      <a class="instagram" href="#01">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <div class="content">
        <div class="inner-content">
          adsfasdfasdfasfasdf
        </div>
      </div>
    </div>
    <div class="collapse" id="02">
      <a class="twitter" href="#02">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <div class="content">
        <div class="inner-content">
          dsafasdfasdfasdf
        </div>
      </div>
    </div>
    <div class="collapse" id="03">
      <a class="dribbble" href="#03">
        <i class="fab fa-dribbble"></i> Dribble
      </a>
      <div class="content">
        <div class="inner-content">
          sdfafdsfasdf
        </div>
      </div>
    </div>
</section>
<!-- //아코디언 -->