<!-- 헤더 -->
<header id="header" class="header">
    <div class="logo">
      <span class="text">ATC Cloud PC</span>
      <span class="mode">for User</span>
    </div>
    <div class="account">
      <a class="menu" href="javascript:void(0)">
        <i class="far fa-user"></i>
        <div class="dropdown on">
          <dl class="info">
            <dt>GROUP</dt>
            <dd>ETRI</dd>
            <dt>ID</dt>
            <dd>user01</dd>
            <dt>NAME</dt>
            <dd>홍길동</dd>
          </dl>
          <div class="button-wrap clear">
            <button class="modify">회원정보변경</button>
            <button class="logout">로그아웃</button>
          </div>
        </div>
      </a>
      <span class="id">User01</span>
    </div>
</header>
<!-- //헤더 -->