<!-- 사이드바 -->
<aside id="sidebar" class="sidebar">
    <a class="active" href="javascript:void(0)">
      <i class="fas fa-stream"></i>
    </a>
    <nav class="nav">
      <ul class="icon-list">
        <li class="icon">
          <a class="" href="javascript:void(0)">
            <i class="fas fa-home"></i>
          </a>
          <ul class="slide-list">
            <li class="title">홈</li>
          </ul>
        </li>
        <li class="icon">
          <a class="on" href="javascript:void(0)">
            <i class="fas fa-cloud"></i>
          </a>
          <ul class="slide-list">
            <li class="title">가상 PC 정보</li>
            <li class="slide"><a href="javascript:void(0)">가상 PC 목록</a></li>
            <li class="slide"><a href="javascript:void(0)">가상 PC 신청</a></li>
            <li class="slide"><a href="javascript:void(0)">가상 PC 반납</a></li>
          </ul>
        </li>
        <li class="icon">
          <a class="" href="javascript:void(0)">
            <i class="fas fa-cog"></i>
          </a>
          <ul class="slide-list">
            <li class="title">가상 PC 관리</li>
            <li class="slide"><a href="javascript:void(0)">자가 오류복구</a></li>
            <li class="slide"><a href="javascript:void(0)">자원증설 신청</a></li>
            <li class="slide"><a href="javascript:void(0)">장애처리 신청</a></li>
            <li class="slide"><a href="javascript:void(0)">보안정책 변경 신청</a></li>
            <li class="slide"><a href="javascript:void(0)">스냅샷 및 복원</a></li>
          </ul>
        </li>
        <li class="icon">
          <a class="" href="javascript:void(0)">
            <i class="far fa-file-alt"></i>
          </a>
          <ul class="slide-list">
            <li class="title">이용내역</li>
          </ul>
        </li>
        <li class="icon">
          <a class="" href="javascript:void(0)">
            <i class="fas fa-headphones-alt"></i>
          </a>
          <ul class="slide-list">
            <li class="title">고객 지원</li>
            <li class="slide"><a href="javascript:void(0)">공지사항</a></li>
            <li class="slide"><a href="javascript:void(0)">메뉴얼</a></li>
            <li class="slide"><a href="javascript:void(0)">자주 묻는 질문</a></li>
            <li class="slide"><a href="javascript:void(0)">1:1 문의</a></li>
            <li class="slide"><a href="javascript:void(0)">기능개선 요청</a></li>
            <li class="slide"><a href="javascript:void(0)">다운로드</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</aside>
<!-- //사이드바 -->