.accordion {
  width: 100%;
  height: 100%;
  background-color: #bebebe;
}
.accordion .collapse {
  background: #fff;
  margin-top: 14px;
}
.accordion .collapse:nth-child(1) {
  margin-top: 0;
}
.accordion .collapse a {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 20px;
  color: #fff;
  position: relative;
}
.accordion .collapse a:before {
  content: "";
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 25px;
  right: 30px;
}
.accordion .content .inner-content {
  padding: 20px;
}
.accordion .content {
  height: 0;
  transition: 0.4s linear 0s;
  overflow: hidden;
}
.accordion .collapse + .accordion .collapse a {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}
.accordion .collapse:target .content {
  height: 349px;
}
.accordion .collapse:target a:before {
  transform: rotate(-90deg);
}
